<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="box">
      <input type="text" placeholder="First Name" v-model="firstname" /><br />
      <input type="text" placeholder="Last Name" v-model="lastname" /><br />
      姓名 1：
      <input type="text" placeholder="Full Name1" v-model="fullname1" /><br />
      姓名 2：
      <input type="text" placeholder="Full Name2" v-model="fullname2" /><br />
    </div>
    <script src="js/vue.js"></script>
    <script>
      const vm = new Vue({
        data: {
          firstname: "zhen",
          lastname: "cao",
          fullname2: "zhen-cao",
        },
        computed: {
          fullname1: {
            get() {
              return this.firstname + "-" + this.lastname;
            },
            set(value) {
              const [firstname, lastname] = value.split("-");
              this.firstname = firstname;
              this.lastname = lastname;
            },
          },
        },
        watch: {
          firstname(newValue, oldValue) {
            this.fullname2 = newValue + "-" + this.lastname;
          },
          lastname(value) {
            this.fullname2 = this.fullname2 + "-" + value;
          },
        },
      }).$mount("#box");
    </script>
  </body>
</html>
